/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1f0ee;
  min-height: 100vh;
}
.container {
  gap: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  max-width: 1050px;
}
section {
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row {
  margin-bottom: 20px;
}
.row .title {
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  user-select: none;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.row .options .option img {
  width: 17px;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #fill-color {
  height: 15px;
  width: 15px;
  cursor: pointer;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}
.colors .option.selected:before {
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  position: absolute;
  border: 2px solid #fff;
  border-radius: inherit;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected:before {
  border-color: #ccc;
}
.colors #color-picker {
  opacity: 0;
  cursor: pointer;
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  background: none;
  border-radius: 4px;
  margin-bottom: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
}
.buttons .clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.buttons .save-img {
  margin-bottom: 8px;
  background: #4a98f7;
  border: 1px solid #4a98f7;
}
.buttons .save-img:hover {
  background: #2382f6;
}
.drawing-board {
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  body {
    align-items: flex-start;
  }
  .container {
    gap: 10px;
    flex-wrap: wrap-reverse;
  }
  .tools-board {
    width: 100%;
    padding: 15px 20px 10px;
  }
  .tools-board .row {
    margin-bottom: 10px;
  }
  .row .options .option img {
    width: 18px;
  }
  .option span {
    display: none;
  }
  .row .options {
    display: flex;
    justify-content: space-between;
  }
  .row .options .option {
    margin-bottom: 5px;
  }
  .option #fill-color {
    height: 17px;
    width: 17px;
  }
  .tools-board .colors .option {
    margin-bottom: 20px;
  }
  .drawing-board {
    height: 40vh;
  }
}
